# プロジェクト概要
- フロントエンドだけで完結するブログシステム


# 重要事項

- docsフォルダには資料があるので確認する


# 技術スタック
- 言語: TyperScirpt

# コーディング規約

- フォルダ/ファイルを作成する際は名前をケバブケースで統一する
- 関数型プログラミングに寄せる
  - interfaceやclassを極力使わない
  - 純粋な関数を心がける
  - 副作用のスコープを狭め、数も最小限にする
- 型定義はできるだけ厳密に定義する
  - できるだけreadonlyを使う
- TSXでreturnする部分にロジックを埋め込まず、関数や変数に切り出す
- コメントで変更内容を残すことを禁止
- 1ファイルの上限は100~150行を目安とし、超える場合はファイルを分割すること